<ol class="breadcrumb">
    <li><a href="#/">Home</a></li>
    <li><a href="#/customers">Customer List</a></li>
    <li class="active">Customer Locations #{{customer.id}}</li>
</ol>
<h1 class="sub-header">{{customer.name}}</h1>
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation"><a href="#/customer/details/{{customer.id}}">Details</a></li>
    <li role="presentation" class="active"><a href="#/customer/locations/{{customer.id}}">Sites</a></li>
    <li role="presentation"><a href="#/customer/contacts/{{customer.id}}">Contacts</a></li>
    <li role="presentation"><a href="#/customer/projects/{{customer.id}}">Projects</a></li>
    <li role="presentation"><a href="#/customer/orders/{{customer.id}}">Work Orders</a></li>
    <li role="presentation"><a href="#/customer/documents/{{customer.id}}">Documents</a></li>
</ul>
<form role="form" ng-submit="submit()" ng-controller="CustomerLocationFormCtrl">
    <div class="form-group">
        <label for="locationName">
            Name
        </label>
        <input type="text" id="locationName" name="locationName" class="form-control" ng-model="location.name" />
    </div>
    <div class="form-group">
        <label for="locationId">
            Site ID
        </label>
        <input type="text" id="locationId" name="locationId" class="form-control" ng-model="location.customId" />
    </div>
    <div class="form-group">
        <label for="locationActive">
            Active
        </label>
        <input type="text" id="locationActive" name="locationActive" class="form-control" ng-model="location.active" />
    </div>
    <div class="form-group">
        <label for="locationAddress">
            Address
        </label>
        <input type="text" id="locationAddress" name="locationAddress" class="form-control" ng-model="location.address1" />
        <label for="locationAddress2">
        </label>
        <input type="text" id="locationAddress2" name="locationAddress2" class="form-control" ng-model="location.address2" />
    </div>
    <div class="form-group">
        <label for="locationCity">
            City
        </label>
        <input type="text" id="locationCity" name="locationCity" class="form-control" ng-model="location.city" />
    </div>
    <div class="form-group">
        <label for="locationState">
            State
        </label>
        <input type="text" id="locationState" name="locationState" class="form-control" ng-model="location.state" />
    </div>
    <div class="form-group">
        <label for="locationPostalCode">
            Postal Code
        </label>
        <input type="text" id="locationPostalCode" name="locationPostalCode" class="form-control" ng-model="location.postal_code" />
    </div>

    <div class="form-group">
        <label for="locationPrimaryContact">
            Primary Contact
        </label>
        <input type="text" id="locationPrimaryContact" name="locationPrimaryContact" class="form-control" ng-model="location.primary_contact" />
    </div>

    <div class="form-group">
        <label for="locationPhone">
            Phone
        </label>
        <input type="text" id="locationPhone" name="locationPhone" class="form-control" ng-model="location.phone" />
    </div>

    <div class="form-group">
        <label for="locationFax">
            Fax
        </label>
        <input type="text" id="locationFax" name="locationFax" class="form-control" ng-model="location.fax" />
    </div>
    
    <input type="hidden" name="id" id="id" value="" ng-model="location.id" />
    <button type="submit" class="btn btn-default">Submit</button>
</form>