{% extends 'DeployNetBundle::layout.html.twig' %}
{% block content %}
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/customers">Customer List</a></li>
    <li class="active">NAME (Contacts)</li>
</ol>
<h1 class="sub-header">NAME</h1>
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation"><a href="/customer/details/1">Details</a></li>
    <li role="presentation"><a href="/customer/locations/1">Locations</a></li>
    <li role="presentation" class="active"><a href="/customer/contacts/1">Contacts</a></li>
    <li role="presentation"><a href="/customer/projects/1">Projects</a></li>
    <li role="presentation"><a href="/customer/orders/1">Work Orders</a></li>
    <li role="presentation"><a href="/customer/documents/1">Documents</a></li>
</ul>
<div class="table-responsive">
    <a href="/customer/contacts/1/add" class="btn btn-default btn-sm pull-right" role="button">Add Contact</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Title</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Username</th>
            <th>Last Login</th>
            <th>Login Count</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td></td>
            <td></td>
            <td><!-- (000) 000-0000 --></td>
            <td><!-- test@test.com --></td>
            <td></td>
            <td> <!-- --/--/-- --:-- --></td>
            <td></td>
            <td><a href="/customer/contacts/1/edit/1">Edit</a> | Delete</td>
        </tr>
        </tbody>
    </table>
    <div class="center-block">
        <ul class="pagination text-center">
            <li class="disabled"><span>&laquo;</span></li>
            <li class="active"><span>1 <span class="sr-only">(current)</span></span></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>
</div>
{% endblock %}