<form role="form" ng-submit="submit()" ng-controller="ProductCtrl">
    <div class="form-group">
        <label for="productPartNumber">
            Part Number
        </label>
        <input type="text" id="productPartNumber" name="productPartNumber" class="form-control" ng-model="product.part_number" />
    </div>
    <div class="form-group">
        <label for="productAltPartNumber">
            Alt. Part Number
        </label>
        <input type="text" id="productAltPartNumber" name="productAltPartNumber" class="form-control" ng-model="product.alt_part_number" />
    </div>
    <div class="form-group">
        <label for="productDescription">
            Description
        </label>
        <input type="text" id="productDescription" name="productDescription" class="form-control" ng-model="product.description" />
    </div>
    <div class="form-group">
        <label for="productManufacturer">
            Manufacturer
        </label>
        <select id="productManufacturer" name="productManufacturer" ng-options="item.name for item in manufacturers" ng-model="product.manufacturer" class="form-control">
        </select>
    </div>
    <input type="hidden" name="id" id="id" value="" ng-model="product.id" />
    <button type="submit" class="btn btn-default">Submit</button>
</form>