{% extends 'DeployNetBundle::layout.html.twig' %}
{% block content %}
<a href="/configuration/product/" class="btn btn-default">Add Product</a>
<table class="table table-responsive">
    <thead>
    <tr>
        <th>Part Number</th>
        <th>Alt Part Number</th>
        <th>Description</th>
        <th>Manufacturer</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><a href="/configuration/product/">Edit</a> | Delete</td>
    </tr>
    </tbody>
</table>
{% endblock %}