{% extends 'DeployNetBundle::layout.html.twig' %}
{% block content %}
{{ include('DeployNetBundle::includes/location.header.html.twig', {'custer': customer, 'location': location, 'page': 'contacts'}) }}

<div>&nbsp;</div>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}