{% extends 'DeployNetBundle::layout.html.twig' %}
{% block content %}
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/customers">Customer List</a></li>
    <li><a href="/customer/details/1">NAME</a></li>
    <li class="active">NAME (Work Orders)</li>
</ol>
<h1 class="sub-header">NAME</h1>
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation"><a href="/customer/location/1/details">Details</a></li>
    <li role="presentation" class="active"><a href="/customer/location/1/contacts">Contacts</a></li>
    <li role="presentation"><a href="/customer/location/1/projects">Projects</a></li>
    <li role="presentation"><a href="/customer/location/1/workorders">Work Orders</a></li>
    <li role="presentation"><a href="/customer/location1/documents">Documents</a></li>
</ul>
<div>&nbsp;</div>
<form role="form" class="form-horizontal">
    <div class="form-group">
        <label for="contactFirstName" class="col-sm-2 control-label">
            First Name
        </label>

        <div class="col-sm-10">
            <input type="text" id="contactFirstName" name="contactFirstName" class="form-control"
                   />
        </div>
    </div>
    <div class="form-group">
        <label for="contactLastName" class="col-sm-2 control-label">
            Last Name
        </label>

        <div class="col-sm-10">
            <input type="text" id="contactLastName" name="contactLastName" class="form-control"
                   />
        </div>
    </div>
    <div class="form-group">
        <label for="contactAddress" class="col-sm-2 control-label">
            Address
        </label>

        <div class="col-sm-10">
            <input type="text" id="contactAddress" name="contactAddress" class="form-control"
                   />
        </div>
    </div>
    <div class="form-group">
        <label for="contactAddress2" class="col-sm-2 control-label">
            &nbsp;
        </label>

        <div class="col-sm-10">
            <input type="text" id="contactAddress2" name="contactAddress2" class="form-control"
                   />
        </div>
    </div>
    <div class="form-group">
        <label for="contactAddress3" class="col-sm-2 control-label">
            &nbsp;
        </label>

        <div class="col-sm-10">
            <input type="text" id="contactAddress3" name="contactAddress3" class="form-control"
                   />
        </div>
    </div>
    <div class="form-group">
        <label for="contactCity" class="col-sm-2 control-label">
            City
        </label>

        <div class="col-sm-10">
            <input type="text" id="contactCity" name="contactCity" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label for="contactState" class="col-sm-2 control-label">
            State
        </label>

        <div class="col-sm-10">
            <input type="text" id="contactState" name="contactState" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label for="contactPostalCode" class="col-sm-2 control-label">
            Postal Code
        </label>

        <div class="col-sm-10">
            <input type="text" id="contactPostalCode" name="contactPostalCode" class="form-control"
                   />
        </div>
    </div>

    <div class="form-group">
        <label for="contactPhone" class="col-sm-2 control-label">
            Phone
        </label>

        <div class="col-sm-10">
            <input type="text" id="contactPhone" name="contactPhone" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label for="contactFax">
            Fax
        </label>

        <div class="col-sm-10">
            <input type="text" id="contactFax" name="contactFax" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label for="contactCellPhone" class="col-sm-2 control-label">
            Cell Phone
        </label>

        <div class="col-sm-10">
            <input type="text" id="contactCellPhone" name="contactCellPhone" class="form-control"
                   />
        </div>
    </div>

    <div class="form-group">
        <label for="contactEmail" class="col-sm-2 control-label">
            Email
        </label>

        <div class="col-sm-10">
            <input type="text" id="contactEmail" name="contactEmail" class="form-control" />
        </div>
    </div>

    <input type="hidden" name="customer_id" id="customer_id" value="" />
    <input type="hidden" name="location_id" id="location_id" value="" />
    <input type="hidden" name="id" id="id" value="" />
    <button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock %}