{% extends 'DeployNetBundle::layout.html.twig' %}
{% block content %}
    {{ include('DeployNetBundle::includes/location.header.html.twig', {'custer': customer, 'location': location, 'page': 'work orders'}) }}
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Work Order ID</th>
            <th>Project Name</th>
            <th>Site ID</th>
            <th>Site Name</th>
            <th>Status</th>
            <th>Location</th>
            <th>Date Update</th>
            <th>Invoiced Date</th>
        </tr>
        </thead>
        <tbody>
        {% for workOrder in location.workOrders %}
            <tr>
                <td><a href="#">{{ workOrder.id }}</a></td>
                <td><a href="#">{{ workOrder.project.name }}</a></td>
                <td><a href="#">???</a></td>
                <td>????</td>
                <td>???</td>
                <td>{{ workOrder.status }}</td>
                <td></td>{#<td>--/--/---- --:-- AM</td>#}
                <td></td>{#<td>--/--/---- --:-- AM</td>#}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {#<div class="center-block">#}
        {#<ul class="pagination text-center">#}
            {#<li class="disabled"><span>&laquo;</span></li>#}
            {#<li class="active"><span>1 <span class="sr-only">(current)</span></span></li>#}
            {#<li><a href="#">2</a></li>#}
            {#<li><a href="#">3</a></li>#}
            {#<li><a href="#">4</a></li>#}
            {#<li><a href="#">5</a></li>#}
            {#<li><a href="#">&raquo;</a></li>#}
        {#</ul>#}
    {#</div>#}
</div>
{% endblock %}