{% extends 'DeployNetBundle::layout.html.twig' %}
{% block content %}
<p>This is the partial for configuration -> shipping methods. <a href="/configuration/shippingMethod/">Create shipping method</a> <a href="/configuration/shippingMethod/">Edit shipping method</a></p>
{% endblock %}