{% extends 'DeployNetBundle::layout.html.twig' %}
{% block content %}
<a href="/configuration/manufacturer/add" class="btn btn-default">Add Manufacturer</a>
<table class="table table-responsive">
    <thead>
    <tr>
        <th>Manufacturer</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for manufacturer in manufacturers %}
    <tr>
        <td>{{ manufacturer.name }}</td>
        <td><a href="/configuration/manufacturer/edit/{{ manufacturer.id }}">Edit</a> | Delete</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}