{% extends 'DeployNetBundle::layout.html.twig' %}
{% block content %}
<a href="/configuration/manufacturer/" class="btn btn-default">Add Manufacturer</a>
<table class="table table-responsive">
    <thead>
    <tr>
        <th>Manufacturer</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td></td>
        <td><a href="/configuration/manufacturer/">Edit</a> | Delete</td>
    </tr>
    </tbody>
</table>
{% endblock %}